  html {
	height: 100%;
	
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	height: 100%
}

#main-navigation {
	
	text-align: center;
	position: fixed;
    width: 100%;
    z-index: 1;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	display: none;
}
#main-navigation li {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px;
}
#main-navigation ul {
	background-color: #333;
	opacity: 0.5;
	height: 50px;
	overflow: hidden;
	margin: 0;
	
}
#main-navigation li a {
	color: white;
	text-decoration: none;
	font-size: 26px;
}

#main-navigation a:hover {
	color: red;
}


#cover-div-left {
	min-height: 100%;
	width: 50%;
	max-width: 50%;
	z-index: 2;
	float: left;
	background: url('../img/left.jpg') repeat 0 0;
	background-size: cover;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
#cover-div-right {
	min-height: 100%;
	width: 50%;
	max-width: 50%;
	z-index: 3;
	float: right;
	background: url('../img/right.jpg') repeat 0 0;
	background-size: cover;
	-webkit-animation: 10s linear 0s normal none infinite animate-right;
	-moz-animation: 10s linear 0s normal none infinite animate-right;
	-ms-animation: 10s linear 0s normal none infinite animate-right;
	-o-animation: 10s linear 0s normal none infinite animate-right;
	animation: 10s linear 0s normal none infinite animate-right;
 
}

 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 100vw 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 100vw 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 100vw 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 100vw 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 100vw 0;}
}


@-webkit-keyframes animate-right {
	from {background-position:100vw 0;}
	to {background-position: 0 0;}
}
 
@-moz-keyframes animate-right {
	from {background-position:100vw 0;}
	to {background-position: 0 0;}
}
 
@-ms-keyframes animate-right {
	from {background-position:100vw 0;}
	to {background-position: 0 0;}
}
 
@-o-keyframes animate-right {
	from {background-position:100vw 0;}
	to {background-position: 0 0;}
}
 
@keyframes animate-right {
	from {background-position:100vw 0;}
	to {background-position: 0 0;}
}



#full-image-style {
	/*max-width: 100%;
	height: auto;
	position: relative;*/
	
	background-image: url(../img/kansisuo.jpg);
    min-height: 100%;
    background-position: center;
    background-size: cover;
    display: none;
}



#logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 30%;
    
}

#logo-style {
	width: 100%;
	position: relative;
}



.icon-style {
	width: 100%;
	position: relative;
}

.icon-container {
	display: block;
    position: absolute;
	top: 50%;
    z-index: 1;
    max-height: 100%;
    width: 9%;
    transform: translate(-50%,0);

}

#first-icon, #first-icon-text-holder{
	left: 20%;
}

#second-icon, #second-icon-text-holder{
	left: 50%;
}

#third-icon, #third-icon-text-holder{
	left: 80%;
}

.icon-text-holder {
	position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%,0);
    font-size: 2vw;;
    color: #FFF;
}

.content-div-1, .content-div-2, .content-div-3 {
	display: none;
}



@media screen and (max-width: 900px) {
	.icon-text-holder {
		top: 62%;		
	}
}

@media screen and (max-width: 700px) {
	.icon-text-holder {
		top: 59%;		
	}
}
@media screen and (max-width: 550px) {
	.icon-text-holder {
		top: 56%;		
	}
}
