
.box {
	width: 400px;
	height: 200px;
	border-style: solid;
	border-color: #333333;
	border-width: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.content {
	height: 100%;
	background-color: #ff0000;
}
#ala {
float: left;
}
